
  
  body {
    
    font-family: Halvetica, Arial, san-serif;
  }
  h1, nav{
	text-align:center;
  }
  ol{
 	list-style-type:none;
}

#mainWeb{
	
}
main{
	margin: 0 auto;
	padding:40px;
	background: 
radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(167,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(167,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(201,51,85,0) 46%),
radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(201,51,85,0) 46%),
radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(201,51,85,0) 31%),

radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(167,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(167,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(201,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(201,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(201,51,85,0) 31%) 50px 50px;
background-color:#b03;
background-size:100px 100px;


}

main h2{
	color:#fff;
}
#main_section{
   
   padding:20px;
   margin: 20px;
   margin-top:10px;
}
 aside{
   
    padding:8px;
    background-color: #74d3edbf;
    margin:22px;
    margin-right:0px;
   
}
section h2{
 margin-left: 20px;
 text-decoration: underline;
}
aside h2{
    text-align:center;
    color:#fff;
    text-decoration:underline;
}

 .container{
	padding:20px;
}

p{
  font-weight: bold;
  font-size: 20px;
  padding:20px;
}
 #first_m, #second_m, #third_m {
   background-color: lightgreen;
   font-weight: 120%;
   opacity: 0.75;
   padding:15px;
}

  #containerx{
	width:65%;
	margin: 0 auto;
}
  #thirdDiv, #secondDiv, #firstDiv {
    padding:15px;
    margin:15px;
    background-color: white;
    border: 5px solid #fff;
    
  }
  #thirdDiv div img, #secondDiv div img, #firstDiv div img {
    width: 303px;
    border: 4px solid lightblue;
    border-radius: 50%;
  }

  #thirdDiv div div h3, #secondDiv div div h3, #firstDiv div div h3 {
    margin-top: 0px;
  }
  #firstDiv{
   background:url(images/paneer_bcg.jpg) no-repeat;
   background-position: center;
} 
    #secondDiv{
   background:url(images/dosa_bcg.jpg) no-repeat;
   background-position: center;
}
  h1 {
    /*text-shadow: 2px 2px 0 rgba(255,0,0,0.7) ; */
3    text-shadow: 2px 2px 2px rgba(255,0,0,0.3) ;
    
    color: green;
    background-color: white;
    text-decoration: underline;
    margin-top: 0px;
   
  }


  main h3{
	text-decoration:underline;
	padding: 12px;
	
}
  

 
nav{
	padding: 8px;
	font-size: 1.2em;
	background: linear-gradient(90deg, #fff 0%, #f560b4  48.7%, #fff 100%);
	}
nav a{
	padding:8px;
	color:#fff;
	padding-right:100px;
}
footer{
	background-color:lightgrey;
	margin-top: 10px;
	padding: 10px;
	
}
}
