
  body {
  
    font-family: Halvetica, Arial, san-serif;
    background-color: lightblue;
  }
  #top_header{
	border: 5px solid;
}
#thirdDiv, #secondDiv, #firstDiv {
    border: 2px solid orange;
    background-color:lightgreen;
    padding: 10px;
  }
  #thirdDiv div img, #secondDiv div img, #firstDiv div img {
    border: 4px solid white;
    border-radius: 3px;
  }
  #thirdDiv div p, #secondDiv div p, #firstDiv div p {
    font-size: 120%;
  }
 h3 {
    margin-top: 0px;
    text-decoration: underline;
  }
 h2{
    padding: 10px;
    text-decoration: underline;
     text-align:center;

}
  h1 {
    padding: 5px;
    color: red;
    background-color: #fff;
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    text-decoration:underline;
  }
  
  #firstDiv div div h3 {
    color: blue;
  }
  
  #secondDiv div div h3 {
    color: red;
  }
  
  #thirdDiv div div h3 {
    color: green;
  }
a{
	font-size:larger;
	padding: 5px;
	color: green;
	float: right;
	text-decoration:underline;
}
