
body {
  margin: none;
  font-family: Halvetica, Arial, san-serif;
  border: 5px solid crimson;
  }

header{
  padding:20px;
}


header img{

    width: calc(70px + 2vw);
}

h1{
  font-size: calc(12px + 1.9vw);
  /*text-shadow: 2px 2px 0 rgba(255,0,0,0.7) ; */
  text-shadow: 2px 2px 2px rgba(255,0,0,0.3) ;
  color: green;
  background-color: white;
  text-decoration: underline;
  margin-top: 0px;

}

h1, nav{
	text-align:center;
  }


ol{
 	list-style-type:none;
}

main{
	margin: 0 auto;
	padding:10px;
	/*display:flex;*/
}

#main_section{

}

 aside{
  /*flex:1;*/
    padding:25px;
    background-color: #74d3edbf;
    margin:22px;
    color:#fff;
    margin-right:0px;
    background:
    radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(167,0,51,0) 27%),
    radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(167,0,51,0) 27%),
    radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(201,51,85,0) 46%),
    radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(201,51,85,0) 46%),
    radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(201,51,85,0) 31%),
    radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(167,0,51,0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(167,0,51,0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(201,51,85,0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(201,51,85,0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(201,51,85,0) 31%) 50px 50px;
    background-color:#b03;
    background-size:100px 100px;
    border: 1px solid;
}

figure img{
  max-width: 100%;
}

figure{
   border: thin #c0c0c0 solid;
   display: flex;
   flex-flow: column;
   padding: 5px;
   max-width: 220px;
   margin: auto;
}

figcaption{
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

section h2{
 margin-left: 20px;
 text-decoration: underline;
 color:crimson;
}

aside h2{
    text-align:center;
    color:#fff;
    text-decoration:underline;
    margin-bottom: 25px;
}

.container{
	padding:20px;
}

p{
  font-weight: bold;
  font-size: calc(10px + 1vw);
  padding:20px;
}

#first_m, #second_m, #third_m {
   background-color: lightgreen;
   font-weight: 120%;
   opacity: 0.75;
   padding:15px;
   border: 1px solid
}

#containerx{
	margin: 0 auto;
}

#thirdDiv, #secondDiv, #firstDiv {
    padding:15px;
    margin:15px;
    background-color: white;
    border: 2px solid crimson;
  }

#thirdDiv div img, #secondDiv div img, #firstDiv div img {
    width: 303px;
    border: 4px solid lightblue;
    border-radius: 50%;
  }

#thirdDiv div div h3, #secondDiv div div h3, #firstDiv div div h3 {
    margin-top: 0px;
  }

 #firstDiv{
   background:url(images/paneer_bcg.jpg) no-repeat;
   background-position: center;
}
 #secondDiv{
   background:url(images/dosa_bcg.jpg) no-repeat;
   background-position: center;
}



main h3{
	text-decoration:underline;
	padding: 12px;
  }

nav{
	padding: 8px;
	font-size: 1.2em;
	background: linear-gradient(90deg, #fff 0%, #d2aac0  48.7%, #fff 100%);
  text-align: center;
	}

nav a{
	padding:8px;
  padding-right: 20px;
  font-size: calc(7px + 1vw);
}

footer{
	background-color:#000;
	margin-top: 10px;
	padding: 10px;
  color: #fff;
}

/* Media queries */
@media screen and (min-width:900px){

  header img{
    margin-left: 12px;
    margin-right: 12px;
  }
  main{
  	display:flex;
  }

  #containerx{
    width:65%;
  }

  #main_section{
     flex:5;
     padding:20px;
     margin: 10px;
     margin-top:10px;
  }

   aside{
      flex:1;
  }
}

@media screen and (max-width:899px){
    aside, #main_section{
      width: 100%;
      margin: 0 auto;
    }
}
