body{
    margin: 0px;
    
}
header{
	text-align:center;
	background: 
radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(167,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(167,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(201,51,85,0) 46%),
radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(201,51,85,0) 46%),
radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(201,51,85,0) 31%),

radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(167,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(167,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(201,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(201,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(201,51,85,0) 31%) 50px 50px;
background-color:#b03;
background-size:100px 100px;
    position: relative;
    width: 100%;
    background-repeat: repeat;
	margin-top: 0px;
}
#header1{
    position: absolute;
    bottom: 8vh;
    left: 8vw;
    width: calc(85px + 2.7vw);
    max-height: 90%; 
}
#header2{
    width: calc(70px + 1.9vw);
    float:right;
    margin-right:100px;
}
h1{
    color: rgb(21, 216, 21);
    font-size: calc(20px + 1.3vw);
    line-height: 12vh;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top:0px;
    padding: 7px;
}
nav{
    padding:6px;
    background-color:lightblue;
}
nav > * {
    display: inline;
}
nav a{
    float:left;
    border-right: 1px solid;
    padding:4px;
    margin-right: 20px;
}
nav div img{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}
 #menu{
    position: relative;
    display: inline-block;
}
#menuCont{
    position: absolute;
    background-color: aqua;
    display: none;
    min-width: 100%;
    transition-duration: 2s; 
    transition-timing-function: ease-in;
    z-index: 900;
}
#menuCont ul{
  list-style-type:none;
  text-align:left;
}
#menuCont a{
	float:left;
	padding:4px;
        border-bottom:1px solid;
}

#menu:hover #menuCont{
    display: block;
    transition-duration: 2s; 
    transition-timing-function: ease-in;
}

button{
    padding-right: 10px;
    font-size: calc(10px + 1.0vw);
    background-color: aqua;
    margin: 0px;
    border: 0px;
    line-height: 10vh;
}
main{
 height: 40vh;
 background-image: url(images/hotel.jpg);

  } 
aside{
  
    
   
 }

#main_content{
  margin-top: 10%;
  margin-left: 30%;
  font-size:larger;
  background-color:#fff;
  padding:15px;
  width: 40%;
  opacity:0.8;
}

footer{
	padding:10px;
	background-color:#d35;
}
@media screen and (max-width: 430px){
    header{
        position: relative;
        }
        h1{
        position: absolute;
        right: 0px;
        line-height:15vh;
    }
}
@media screen and (min-width: 450px) and (max-width: 700px){
    #mainCont{
      display: flex;
      flex-flow: row-wrap;
    }
    main{
        flex: 4;
        height:70vh; 
        background-color: blueviolet;
    }
    aside{
        flex: 1;
        height: 70vh;
        
    }
}
@media screen and (min-width: 700px){
    #mainCont{
        display: flex;
        flex-flow: row-wrap;
      }
      main{
          flex: 8;
          height:70vh; 
          background-color: orange;
	  border:5px solid;
      }
      aside{
          flex: 2;
          height: 70vh;
          }
}
