html{
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

body{
	font-family: Avenir;
	font-size: 2.4em;
	position: relative;
	width:90%;
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
	border: 2px solid black;
}

header{
	padding: 10px;
	margin-top: 0px;
	position: relative;
	text-align: center;
	width:60%;
	margin: 0 auto;
	border-bottom: 2px solid lightblue;
}

hr{
	color:blue;
}
h1{
	font-size: calc(20px + 4.4vw);
	color:crimson;
	margin-top: 0px;
}

h2{
	text-decoration: underline;
}

main{
	margin-top: 30px;
	line-height: 1.3em;
	border-right: 1px solid lightblue;
 	margin-left: 0px;
	text-align: center;

}
main img{
	margin-top: 30px;
	}

article h2{
	padding-left: 10px;
	text-decoration: underline;

}

#aside{
	padding-left: 45px;
}

aside{
	margin-left: 12px;
}

aside h2{
	margin-bottom:20px;
}
article {
	font-size: 0.8em;
}

article i{
	font-size: 1.8em;
}

p{
	padding-left: 30px;
}

a{
  overflow-wrap: break-word;
 	word-wrap: break-word;
}

section{
	margin-top: 20px;
	padding-left:calc(15px + 2vw);
}

aside{
	font-size: 0.7em;
}

footer{
	float: right;
	color:white;}

/* Medi queries here ----*/
@media screen and (min-width: 1280px){

  header img{
		width: 120px;
   }

  .mainCont{
    position: relative;
    display: flex;
    flex-flow: row-wrap;
    }

  main{
		flex: 5;

  }

  main p{
		padding-top: 30px;

	}

  main img{
		max-width: 150px;
		border-bottom: 2px solid;
		}

  aside{
    flex: 2;
    max-height: 100%;
    margin-top: 20px;
    padding:10px;

  }
}

@media screen and (min-width: 800px) and (max-width:1279px){

	header{
		padding: 20px;
		}

	header img{
		width: 80px;
   	}
	.mainCont{
    position: relative;
    display: flex;
    flex-flow: row-wrap;
    }

  main{
			flex: 5;
    }

  main img{
      width: 65px;
   }

  aside{
    flex: 2;
    font-size: 0.6em;
    max-height: 100%;
    padding:10px;
    }
}

 @media screen and (max-width: 799px) {
	body{
		width:100%;
	}

	header{
		padding: 20px;
	}

  header img{
		width: 43px;
   }

  main, aside{
		width: 100%;
		border-bottom: 1px solid lightblue;
	}

  #aside{
	padding-left:15px;
	}
  main img, #a{
      width: 60px;
  }
}
